---
import ThemeToggler from "./ThemeToggler";
---

<header class="flex justify-center items-center pt-4 space-x-4 print:hidden">
  <ThemeToggler client:load />
  <button class="uppercase text-link">ES</button>
</header>
