---
import ThemeToggler from './ThemeToggler'
import { languages } from '../i18n/ui'
import { getLangFromUrl } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const languageCodes = Object.keys(languages) as Array<keyof typeof languages>
const currentIndex = languageCodes.indexOf(lang as keyof typeof languages)
const safeIndex = currentIndex === -1 ? 0 : currentIndex
const nextLanguage = languageCodes[(safeIndex + 1) % languageCodes.length]
---

<header class="flex items-center justify-center space-x-4 pt-4 print:hidden">
  <div>
    <ThemeToggler client:only="solid-js" />
  </div>
  <a href={nextLanguage === 'en' ? '/' : nextLanguage} class="text-link"
    >{languages[nextLanguage]}</a
  >
</header>
