<button id="print" class="text-link">PDF Version</button>

<script>
  const ref = document.getElementById("print");

  if (ref) {
    ref.addEventListener("click", () => window.print());
  }
</script>
