---
import "@fontsource/inter";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Résumé</title>
  </head>

  <body>
    <slot />
  </body>

  <style is:global>
    body {
      @apply bg-stone-100 text-stone-800 antialiased;
    }

    a,
    button {
      @apply cursor-pointer text-stone-500 transition-colors;
    }

    a.text-link,
    button.text-link {
      @apply border-b border-dashed;
    }

    a:hover,
    button:hover {
      @apply text-green-800 border-green-800;
    }

    p:not(:last-child) {
      @apply mb-4;
    }

    ul {
      list-style: none;
    }

    ul li:before {
      content: "◆";
      @apply text-green-800 text-sm pr-2;
    }

    ul li {
      @apply pl-4;
    }

    small {
      @apply text-sm;
    }

    code {
      @apply p-1 text-sm text-green-800 bg-green-50 rounded;
    }

    /* Dark mode */
    html.dark body {
      @apply bg-stone-900 text-stone-100;
    }

    html.dark a,
    html.dark button {
      @apply text-stone-200;
    }

    html.dark a:hover,
    html.dark button:hover {
      @apply text-green-400 border-green-400;
    }

    html.dark ul li:before,
    html.dark code {
      @apply text-green-400;
    }

    html.dark code {
      @apply bg-green-900;
    }
  </style>
</html>
