---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import DarkMode from '../components/DarkMode.astro'
import '../styles/global.css'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <title>José Olórtegui - {t('site.title')}</title>
  </head>

  <body>
    <slot />

    <DarkMode />
  </body>
</html>
